Repository GEOS-ESM/GEOS_OceanGridComp, pull requests merged in 2024-05, with the labels that each got.

#68 new GEOS-MITgcm configs that has shelfice
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/CPP_EEOPTIONS.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/CPP_OPTIONS.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/DIAGNOSTICS_SIZE.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/GGL90_OPTIONS.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/GMREDI_OPTIONS.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/MOM_COMMON_OPTIONS.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/SALT_PLUME_OPTIONS.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/SEAICE_LAYERS.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/SEAICE_OPTIONS.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/SEAICE_SIZE.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/SHELFICE.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/SHELFICE_OPTIONS.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/SIZE.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/ggl90_calc.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/ini_masks_etc.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/ini_parms.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/initialise_varia.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/mom_calc_visc.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/packages.conf
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/seaice_advdiff.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/seaice_diag_init_add.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/seaice_diagnostics_init.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/seaice_model.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/seaice_save4gmao.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/shelfice_forcing.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/shelfice_forcing_surf.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/shelfice_init_depths.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/shelfice_init_fixed.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/shelfice_init_varia.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/shelfice_readparms.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/shelfice_solve4fluxes.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/shelfice_thermodynamics.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data.cal
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data.diagnostics
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data.exch2
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data.ggl90
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data.gmredi
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data.mypackage
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data.pkg
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data.salt_plume
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data.seaice
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data.shelfice
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/eedata
  MIT_GEOS5PlugMod/configs/c90_llc90_03/readme
Labels: 0 diff, enhancement

#70 GitFlow: merge develop into main for release
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/CPP_EEOPTIONS.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/CPP_OPTIONS.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/DIAGNOSTICS_SIZE.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/GGL90_OPTIONS.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/GMREDI_OPTIONS.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/MOM_COMMON_OPTIONS.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/SALT_PLUME_OPTIONS.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/SEAICE_LAYERS.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/SEAICE_OPTIONS.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/SEAICE_SIZE.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/SHELFICE.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/SHELFICE_OPTIONS.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/SIZE.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/ggl90_calc.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/ini_masks_etc.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/ini_parms.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/initialise_varia.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/mom_calc_visc.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/packages.conf
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/seaice_advdiff.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/seaice_diag_init_add.h
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/seaice_diagnostics_init.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/seaice_model.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/seaice_save4gmao.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/shelfice_forcing.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/shelfice_forcing_surf.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/shelfice_init_depths.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/shelfice_init_fixed.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/shelfice_init_varia.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/shelfice_readparms.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/shelfice_solve4fluxes.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/code/shelfice_thermodynamics.F
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data.cal
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data.diagnostics
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data.exch2
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data.ggl90
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data.gmredi
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data.mypackage
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data.pkg
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data.salt_plume
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data.seaice
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/data.shelfice
  MIT_GEOS5PlugMod/configs/c90_llc90_03/input/eedata
  MIT_GEOS5PlugMod/configs/c90_llc90_03/readme
Labels: 0 diff

#69 Updates to use FMS in Baselibs
  MOM6_GEOSPlug/mom6_cmake/CMakeLists.txt
Labels: 0 diff, Non 0-diff

#71 GitFlow: Merge develop into main for FMS 2024 work
  MOM6_GEOSPlug/mom6_cmake/CMakeLists.txt
Labels: Non 0-diff
